@import "tailwindcss";

@theme {
  --font-baskerville: var(--font-baskerville);
  --font-inter: var(--font-inter);
  --color-background: #ffffff;
  --color-foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter);
}
